In [2]:
# Determinar el/los nombres de la/s hoja/s del libro

import pandas as pd
import src.extract.load_data as ld

ruta_origen =r"C:\Users\Santiago Nieri\Desktop\BusinessCase - Oysho\.venv\data\raw\DatosVentas.xlsx"

libro = ld.lectura_libro_xlsx(ruta_origen)

libro.keys()

dict_keys(['SesionesGA', 'TransaccionesTransaccional'])

In [4]:
# Cargar los datos de cada hoja en un DataFrame 

df_SesionesGA= libro["SesionesGA"]
df_TransaccionesTransaccionales= libro["TransaccionesTransaccional"]

Analisis de datos y columnas del dataframe seleccionado

In [24]:
#Dataframe a Analizar

df= df_SesionesGA

In [25]:
#Determinar las columnas del Dataframe

df.columns

Index(['fecha', 'mercado', 'source', 'medium', 'campaign', 'tipo_aplicacion',
       'sesiones', 'transacciones'],
      dtype='str')

In [26]:
#Determinar el tipo de datos de cada columna

df.info()

<class 'pandas.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fecha            700 non-null    datetime64[us]
 1   mercado          700 non-null    str
 2   source           700 non-null    str
 3   medium           700 non-null    str
 4   campaign         700 non-null    str
 5   tipo_aplicacion  700 non-null    str
 6   sesiones         700 non-null    int64
 7   transacciones    700 non-null    int64
dtypes: datetime64[us](1), int64(2), str(5)
memory usage: 43.9 KB

In [27]:
#Resumen estadistico de las columnas numericas del Dataframe

df.describe()

                            fecha    sesiones  transacciones
count                         700  700.000000     700.000000
mean   2024-01-24 22:08:54.857142  179.507143      49.010000
min           2024-01-01 00:00:00   50.000000       0.000000
25%           2024-01-12 00:00:00  122.000000      25.000000
50%           2024-01-24 00:00:00  180.000000      48.500000
75%           2024-02-07 00:00:00  241.250000      76.000000
max           2024-02-20 00:00:00  299.000000      99.000000
std                           NaN   70.926981      29.843198

In [28]:
#Visualizar las primeras 10 filas del Dataframe

df.head(10)

,fecha,mercado,source,medium,campaign,tipo_aplicacion,sesiones,transacciones
0,2024-01-01,CAN,twitter,cpc,black_friday,web,66,28
1,2024-01-01,CAN,google,social,loyalty_program,web,218,99
2,2024-01-01,CAN,twitter,referral,loyalty_program,web,72,69
3,2024-01-02,CAN,newsletter,cpc,new_years,web,84,25
4,2024-01-03,CAN,newsletter,email,new_years,web,60,95
5,2024-01-04,CAN,instagram,organic,new_years,móvil,65,95
6,2024-01-05,CAN,facebook,organic,new_years,móvil,156,13
7,2024-01-05,CAN,facebook,social,loyalty_program,móvil,197,64
8,2024-01-05,CAN,newsletter,email,loyalty_program,web,248,39
9,2024-01-05,CAN,newsletter,email,summer_sale,móvil,264,50

In [32]:
for i in df.select_dtypes(include=["string"]):
    print(f"Valores unicos de la columna {i}:")
    print(df[i].unique())

Valores unicos de la columna mercado:
<StringArray>
['CAN', 'ESP', 'FRA', 'GER', 'JPN', 'MEX', 'USA']
Length: 7, dtype: str
Valores unicos de la columna source:
<StringArray>
['twitter', 'google', 'newsletter', 'instagram', 'facebook']
Length: 5, dtype: str
Valores unicos de la columna medium:
<StringArray>
['cpc', 'social', 'referral', 'email', 'organic']
Length: 5, dtype: str
Valores unicos de la columna campaign:
<StringArray>
['black_friday', 'loyalty_program', 'new_years', 'summer_sale', 'winter_sale']
Length: 5, dtype: str
Valores unicos de la columna tipo_aplicacion:
<StringArray>
['web', 'móvil']
Length: 2, dtype: str